body {
    margin: 0;
    padding: 0;
}

.main {
    width: 100vw;
    height: 100vh;

    display: flex;
}

.left {
    width: 450px;
    background-color: darkgreen;

    flex-grow: 0;
}

.right {
    display: flex;
    flex-direction: column;

    flex: 1;
}

.right > div {
    box-sizing: border-box;
    padding-left: 40px;
}

.top, .bottom {
    background-color: rgb(238, 243, 232);
}

.top {
    height: 45%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding-bottom: 50px;
}

.middle {
    height: 30%;
}

.bottom {
    height: 25%;
}