@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: Norse;
    src: url("./Norse-Bold.otf");
}

body {
    margin: 0;
    padding: 0;

    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.main {
    width: 100vw;
    height: 100vh;

    display: flex;
}

.left {
    width: 450px;

    background-image: url("./bg.jpg");
    background-size:cover;

    position: relative;
    z-index: 1;

    flex-grow: 0;
}

.right {
    display: flex;
    flex-direction: column;

    flex: 1;
}

.right > div {
    box-sizing: border-box;
    padding-left: 40px;
}

.top, .bottom {
    background-color: #eef3e8;
}

.top {
    height: 35%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding-bottom: 50px;
}

.top span {
    font-style: italic;
}

.middle {
    height: 30%;

    position: relative;

    box-shadow: 0px 3px 5px #c3c7bf;
}

.middle > p {
    color: #0B1625;
}

.top, .middle > p {
    font-weight: 500;
    font-size: 1.4em;
}

.bottom {
    height: 35%;
    padding-top: 30px;
}

.bottom > button {
    border: 0;
    border-radius: 8px;

    color: white;
    background-color: #596D48;

    font-size: 1em;
    font-weight: bold;

    padding: 16px 40px;
}

button:hover {
    cursor: pointer;
    background-color: #49583a;
}

button:active {
    background-color: #698056;
}

.bottom a {
    text-decoration: none;

    color: #596D48;

    font-weight: bold;
}

.bottom a:hover {
    color: #49583a;
}

.bottom a:active {
    color: #698056;
}